/* HTML MAIN DOCUMENT */
*
{
    margin: 0%;
    padding: 0%;
}

/* MAKING NAVIGATION BAR */
.navbar
{
    background-color: purple;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-texts a
{
    text-decoration: none;
    font-size: 40px;
    color: white;
}
.nav-logos
{
    position: absolute;
    top: 30px;
}

/* MAKING TAGLINE BAR */
.tagline
{
    position: relative;
    background-color: rgb(23, 32, 51);
    color: white;
    text-align: center;
    height: 200px;
    transition: 0.3s;
}
.tagline:hover
{
    background-color: white;
    color: rgb(23, 32, 51);
    text-align: center;
    height: 200px;
}
.tag-main
{
    position: relative;
    top: 45px;
    font-size: 60px;
    font-weight: bolder;
}
.tag-others
{
    position: relative;
    top: 50px;
    font-size: 20px;
}